[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asq = "*"
typeguard = "*"
bytecode = "*"

[dev-packages]
pytest = "*"
tinydb = "*"

[requires]
python_version = "3.7"
